asgiref==3.11.1
astroid==4.0.4
bidict==0.23.1
blinker==1.9.0
brotli==1.2.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
ConfigArgParse==1.7.5
coverage==7.14.0
dill==0.4.1
Django==6.0.5
Faker==40.15.0
Flask==3.1.3
flask-cors==6.0.2
Flask-Login==0.6.3
gevent==25.9.1
geventhttpclient==2.3.9
greenlet==3.5.0
h11==0.16.0
idna==3.15
iniconfig==2.3.0
isort==8.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
locust==2.44.0
MarkupSafe==3.0.3
mccabe==0.7.0
msgpack==1.1.2
packaging==26.2
platformdirs==4.9.6
playwright==1.59.0
pluggy==1.6.0
psutil==7.2.2
pyee==13.0.1
Pygments==2.20.0
pylint==4.0.5
pytest==9.0.3
pytest-base-url==2.1.0
pytest-cov==7.1.0
pytest-django==4.12.0
pytest-playwright==0.7.2
python-engineio==4.13.1
python-slugify==8.0.4
python-socketio==5.16.1
pyzmq==27.1.0
requests==2.34.0
ruff==0.15.12
simple-websocket==1.1.0
sqlparse==0.5.5
text-unidecode==1.3
tomlkit==0.15.0
typing_extensions==4.15.0
urllib3==2.7.0
websocket-client==1.9.0
Werkzeug==3.1.8
wsproto==1.3.2
zope.event==6.2
zope.interface==8.4
