asgiref==3.11.1
astroid==4.0.4
coverage==7.14.0
dill==0.4.1
Django==6.0.5
iniconfig==2.3.0
isort==8.0.1
mccabe==0.7.0
packaging==26.2
platformdirs==4.9.6
pluggy==1.6.0
Pygments==2.20.0
pylint==4.0.5
pytest==9.0.3
pytest-cov==7.1.0
ruff==0.15.12
sqlparse==0.5.5
tomlkit==0.15.0
